name: Exact 5-Min Auto Update Sportzx

on:
  workflow_dispatch: # ম্যানুয়ালি রান করার জন্য
  repository_dispatch:
    types: [trigger_update] # cron-job.org থেকে ধাক্কা দেওয়ার জন্য

permissions:
  contents: write # ফাইলে পরিবর্তন করে পুশ করার পারমিশন

jobs:
  update-json:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pycryptodome
          
      - name: Run Sportzx Python Script
        run: python sportzx.py
        
      - name: Commit and Push JSON Update
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action Bot"
          git add Sportzx.json
          git diff-index --quiet HEAD || (git commit -m "Auto Update: Sportzx 100% Raw JSON" && git push)
